.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #F6F7FB;
}

.App header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px 0px rgba(199,199,199,1);
  border-bottom: 1px solid grey;
}

.App main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.App main h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.App footer {
  position: absolute;
  bottom: 0;
}
